* {
  box-sizing: border-box;
  /*transition: color .3s;*/
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 14px;
  /*line-height: 1.3em;*/
}
h2 {
  /*font-size: 1.1em;*/
  margin: 0;
}
h2, nav, .button, .fa {
  display: inline-block;
  vertical-align: middle;
  /*vertical-align: bottom;*/
}

dl {
  margin: 0;
}
dt, dd {
  /*position: relative;*/
  display: block;
}
dt {
  float: left;
  width: 10em; /* adjust according to content  + .5em*/
  /*text-align: right;*/
  /*color: #85aaaf;*/
}
dd {
  margin-left: 10em;
  /*text-align: left;*/
  padding-left: 1em;
}
dd:after {
  content: "";
  display: block;
  clear: both;
}

.window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2em;
  overflow: auto;
  padding: 1em;
}
#footer {
  position: absolute;
  height: 2em;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .3em 1em;
  border-top: 2px solid #333;
}
.scrollbox {
  position: absolute;
  top: 4em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  overflow: auto;
}
.editor-window {
  right: 50%;
  border-right: 2px solid #333;
}

.cpu-window {
  left: 50%;
  height: 15em;
}
.cpu-window .controls .button { border-radius: 0; }
.cpu-window .controls .button:first-of-type {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.cpu-window .controls .button:last-of-type {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.memory-window {
  left: 50%;
  top: 15em;
  border-top: 2px solid #333;
}
.memory table {
  table-layout: static;
  width: 100%;
  font-size: .9em;
  text-align: right;
  border-collapse: collapse;
}
.memory table td,
.memory table th {
  width: 9.09%;
  border: 1px solid #444;
  padding: 0 .2em;
  white-space: nowrap;
}
.memory .accessed {
  box-shadow: inset 0 0 2px red;
}

.updated {
  color: #0cc;
  /*transition: color .3s;*/
}

.errors {
  font-size: .9em;
  color: red;
}


.memory-dec.active,
.memory-hex.active,
.memory-bin.active {
  opacity: .5;
  pointer-events: none;
}

/*** dark ***/

body {
  background-color: #222;
  color: #eee;
}


.button {
  display: inline-block;
  padding: .3em .5em;
  margin: .5em 0;
  border-width: 0;
  /*line-height: 1em;vertical-align:middle;*/
  font-weight: bold;
  background-color: #0aa;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  transition: color .3s, background-color .3s;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #0cc;
}
input[type="range"] {
  padding: .3em .5em;
  margin: .5em 0;
  height: 1.9em;
  vertical-align: bottom;
  background-color: #0aa;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
textarea {
  background-color: white;
  color: black;
  border: 1px solid #999;
  box-shadow: inset 0 0 3px #999;
}

/* highlight label instead of checkbox */
input[type="checkbox"],
input[type="radio"] {
  visibility: hidden;
  position: fixed;
  width: 0;
  height: 0;
}
label {
  cursor: pointer;
  transition: color .3s, background-color .3s;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  padding: .3em .5em;
  margin: .5em 0;
  vertical-align: middle;
  background-color: #444;
  color: #ccc;
}
input[type="checkbox"]:not([disabled]) + label:hover,
input[type="checkbox"]:not([disabled]) + label:focus,
input[type="radio"]:not([disabled]) + label:hover,
input[type="radio"]:not([disabled]) + label:focus {
  background-color: #0cc;
  color: white;
}
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  cursor: default;
  pointer-events: none;
  background-color: #0aa;
  color: white;
}
input[type="checkbox"][disabled] + label,
input[type="radio"][disabled] + label {
  cursor: default;
}
input[type="checkbox"][disabled]:checked + label,
input[type="radio"][disabled]:checked + label {
  background-color: #0c6;
}
input[type="checkbox"] + label:first-of-type,
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
input[type="checkbox"] + label:last-of-type,
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.editor {
  background-color: white;
  color: black;
  border-radius: 2px;
}
.editor-gutter,
.editor-textarea {
  font-size: .9em;
}
.editor-gutter {
  padding: .5em .25em;
  text-align: right;
  float: left;
  min-height: 100%;
  white-space: pre;
  background-color: #ddd;
  color: #666;
  
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.editor-textarea {
  box-shadow: inset 0 0 3px #444;
  min-height: 100%;
  white-space: pre;
  padding: .5em;
  outline-width: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/*.editor-lines {
  float: left;
}*/
/*.editor-line {
  height: 1.3em;
  overflow: auto;
  padding: 0 .25em;
  box-shadow: inset 0 0 2px grey;
}*/
